@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');

body {
  font-family: "Noto Sans Lao", sans-serif;
  color: $text-default;
  background-color: rgb(3 17 28);
}
.btn{
  &-primary,
  &.show {
    color: $text-default;
  }

  &:hover {
    color: $text-default;
  }

  &:active {
    color: $text-default!important;
  }
}


.btn.show {
  color: $text-default;
  &:hover {
    color: $text-default;
  }

  &:active {
    color: $text-default;
  }
}