@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');

:root {
  --url: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="3" fill="rgba%2820, 20, 22, 0.25%29"/%3e%3c/svg%3e');
  --url_white: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org… 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e")
}

body {
  font-family: "Noto Sans Lao", sans-serif;
  color: $text-default;
  background-color: rgb(3 17 28);
}
.btn{
  &-primary,
  &.show {
    color: $text-default;
  }

  &:hover {
    color: $text-default;
  }

  &:active {
    color: $text-default!important;
  }
}


.btn.show {
  color: $text-default;
  &:hover {
    color: $text-default;
  }

  &:active {
    color: $text-default;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(3, 17, 28)!important;
  // border-radius: 10px;
  border: none!important;
}

::-webkit-scrollbar-thumb {
  background-color: $orange;
  border-radius: 10px;
}

input:is(:autofill, :-webkit-autofill)  {
  -webkit-box-shadow: 0 0 0 30px rgb(3 17 28) inset;

  background-color: hsl(208deg 91% 9% / 100%);
  box-shadow: 0 0 0 30px hsl(208deg 91% 9% / 100%) inset;
  -webkit-text-fill-color: hsl(223, 10%, 52%)!important;
  // cursor color 
  caret-color: hsl(223, 10%, 52%);
  border: 1px solid hsl(208deg 60% 12% / 100%);
  border-radius: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  padding-left: 50px;
}