table {
  width: 100%;
  text-align: center;

  thead {
    border-bottom: 1px solid rgba(238,78,43,.5);
    font-size: 20px;
    color: $primary;
    font-weight: 500;
    height: 66px;

    @include media-breakpoint-down(md) {
      background-color: $header-bg;
    }

    th {
      width: auto;
      &:first-of-type {
        width: 10%;
      }

      &:last-of-type {
        width: 10%;
      }
    }
  }

  tbody {
    tr {
      height: 54px;
      border-bottom: 1px solid rgba(120, 127, 145, .1);

      &:last-of-type {
        border-bottom: 0;
      }
    }
  }
}

.table-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .pagination-pagesize {
    align-items: center;
    gap: 10px;

    select {
      background-color: $header-bg;
      border: 1px solid $gray-200;
      border-radius: 5px;
      width: 63px;
      height: 36px;
      color: #B1B5C3;
      font-size: 16px;
      line-height: 20px;
      text-align: start;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline-start: 2px;
    }

    span {
      color: $gray-200;
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
    }
  } 
}