.room-page-container {
  ul {
    position: absolute;
    top: 55px;
    right: 0;
    border: none;
    justify-content: flex-end;
    width: 50%;

    @include media-breakpoint-down(md) {
      position: inherit;
      top: unset;
      right: unset;
      justify-content: space-around;
      flex-flow: nowrap;
      width: 100%;
    }

    & li:first-of-type {
      background: url("/src/assets/images/roompage-tab-bronze.svg");
      background-position: 8px;
      background-repeat: no-repeat;

      & .nav-link.active {
        background: url("/src/assets/images/roompage-tab-bronze-active.svg");
        background-position: 8px;
        background-repeat: no-repeat;
        background-color: $green-lime;
      }
    }

    & li:nth-of-type(2) {
      background: url("/src/assets/images/roompage-tab-silver.svg");
      background-position: 8px;
      background-repeat: no-repeat;

      & .nav-link.active {
        background: url("/src/assets/images/roompage-tab-silver-active.svg");
        background-position: 8px;
        background-repeat: no-repeat;
        background-color: $green-lime;
      }
    }

    & li:nth-of-type(3) {
      background: url("/src/assets/images/roompage-tab-gold.svg");
      background-position: 8px;
      background-repeat: no-repeat;

      & .nav-link.active {
        background: url("/src/assets/images/roompage-tab-gold-active.svg");
        background-position: 8px;
        background-repeat: no-repeat;
        background-color: $green-lime;
      }
    }

    & li:last-of-type {
      background: url("/src/assets/images/roompage-tab-diamond.svg");
      background-position: 8px;
      background-repeat: no-repeat;

      & .nav-link.active {
        background: url("/src/assets/images/roompage-tab-diamond-active.svg");
        background-position: 8px;
        background-repeat: no-repeat;
        background-color: $green-lime;
      }
    }

    & li .nav-link {
      border: transparent;
      border-radius: 8px;
      padding: 8px 16px 8px 40px;
      background-color: transparent;
      color: $text-default;

      @include media-breakpoint-down(md) {
        font-size: 12px;

        padding: 8px 8px 8px 36px;
      }
    
      &.active {
        color: $text-default
      }
    }
  }

  .room-search {
    display: flex;
    height: 40px;
    margin-top: 16px;
    width: 50%;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      margin-bottom: 15px;
      width: 100%;
    }

    

    .search-bar {
      max-width: 150px;

      @include media-breakpoint-up(md) {
        max-width: 115px;
      }
  
      @include media-breakpoint-up(lg) {
        max-width: 160px;
      }
  
      @include media-breakpoint-up(xl) {
        max-width: 280px;
      }
      
      & input {
        font-size: 14px;
        height: 38px;
        line-height: 19px;
      }
    }


    .search-bar-room {
      position: inherit;
    }

    &-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-left: 10px;
      font-size: 13px;
      font-weight: 600;
      background: $green-gradient;
      border: transparent;

      @include media-breakpoint-down(sm) {
        font-size: 11px;
        padding: 4px 8px;
      }
    }
  }

  .room-table {
    margin-top: 16px;

    &-btn {
      width: 100px;
      height: 36px;
      border-radius: 8px;
      border: transparent;
      font-size: 15px;
      font-weight: 600;
      background: $orange-gradient;
      
      &--join {
        background: $green-gradient;
      }
    }

    .progress-indicator {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;

      .progress {
        background-color: #c4c4c4;
        border-radius: 8px;
        width: 200px;
      }
    }

    .bet-container {
      p {
        color: $yellow;
        font-weight: 600;
      }
    }

    td:nth-child(4) > .status-container {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .room-play-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 10px;
    font-size: 13px;
    font-weight: 600;
    border: transparent;
    background: $orange-gradient;

    @include media-breakpoint-down(sm) {
      font-size: 11px;
      padding: 4px 8px;
    }
  }

  &-mobile {
    .tab-content {
      padding: 0;
      background-color: $bg;
    }

    ul {
      background-color: $bg;
      li {
        padding-block: 15px!important;
      }
    }
  }
}

.roompage-table-mobile-container {

  .roompage-mobile-tabs {
    border-radius: 8px;
    border: 1px solid $gray-400;
    padding: 24px;
    background-image: url("/src/assets/images/roompage-mobile-bg.svg");
    background-color: $bg;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 99;

    button {
      min-width: 85px;
      background: $green-gradient;
      border: none;
    }
  }

  .roompage-mobile-tab {
    display: flex;
    align-items: center;
    gap: 10px;

    p, h2{
      font-size: 14px;
    }

    &:last-child {
      p {
        color: $yellow;
        font-weight: bold;
      }
    }
    
    h2 {
      color: $orange;
    }
  }
}