.shoppage {
  width: 90vw;

  @include media-breakpoint-up(lg) {
    width: 80vw;
  }

  @include media-breakpoint-up(xl) {
    width: 70vw;
  }

  & >:first-child {
    margin: 1.5rem 0 1rem;
    p {
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      line-height: 1.5rem;
      color: $gray-300;
      
    }

    h1 {
      font-weight: 700;
      line-height: 3rem;
      margin: 0;
    }
  }
}

.package-container {
  background-image: url("src/assets/images/shoppage-package-bg.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px 32px 72px;
  min-height: 562px;
  border-radius: 14px 14px 152px;
  background-color: $bg;

  @include media-breakpoint-down(md) {
    background: none;
    padding: 0;
  }

  .nav-tabs {
    border-bottom: 0;
    border-radius: 8px;
    align-items: center;
    gap: 15px;
    margin-bottom: 24px;

    @include media-breakpoint-down(md) {
      justify-content: space-between;
      flex-wrap: nowrap;
      background-color: $bg;
      padding: 5px !important;
      border-radius: 24px;
      gap: 10px;

      .nav-item {
        flex: 1;
        & button {
          width: 100%;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      .nav-item {
        & button {
          font-size: 13px;
          padding-inline: 10px;
          line-height: 16px;
          min-height: 32px!important;
        }
      }
    }

    .nav-link {
      font-size: 20px;
      color: $text-default;
      line-height: 1.5rem;
      font-weight: 600;
      border: 1px solid transparent;
      transition: none;
      
      &.active {
        background-color: $primary;
        border: 1px solid $primary;
        border-radius: 8px;
        min-height: 56px;

        @include media-breakpoint-down(md) {
          border-radius: 24px;
        }
      }

      &:hover {
        border: 1px solid transparent;
      }

      &:focus {
        border: 1px solid transparent;
      }
      
    }
  }

  .tab-content {
    overflow-x: auto;

    & > .active {
      display: flex;
      gap: 16px;

      @include media-breakpoint-up(lg) {
        gap: 32px;
      }

      @include media-breakpoint-down(md) {
        flex-wrap: wrap;
        flex-shrink: 0;
        gap: 8px;
      }
    }
  }
}

.package {
  position: relative;
  padding: 32px 0;
  margin-bottom: 16px;
  background: linear-gradient(161.94deg, #030824 23%, rgba(97, 21, 116, 0) 73.89%), #0a0a0b;
  min-width: 256px;
  height: 349px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px;
  border: 1px solid $gray-400;

  @include media-breakpoint-down(md) {
    min-width: auto;
    height: 214px;
    width: 48%;
    padding-block: 16px;
    margin-bottom: 0;
  }

  &-heading {
    text-align: center;

    h2 {
      font-size: 24px;
      background: $yellow-gradient;
      -webkit-background-clip: text;
      color: transparent;
      margin: 0;

      @include media-breakpoint-down(md) {
        font-size: 14px;
      }
    }

    p {
      font-size: 12px;
      color: $gray-300;
      margin: 0;

      @include media-breakpoint-down(md) {
        font-size: 10px;
      }
    }

    
  }
  img {
    @include media-breakpoint-down(md) {
      width: 75px;
    }
  }

  button {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    background: $green-gradient;
    border: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;

    @include media-breakpoint-down(md) {
      font-size: 10px;
      padding: 6px 12px;
      height: 30px;
      line-height: 15px;
    }
    
    &:hover {
      opacity: 0.9;
    }
  }

  &-best-sale {
    position: absolute;
    top: 0;
    right: -2px;
  }

  &.retail {
    background: linear-gradient(161.94deg,#08253d 23%,rgba(8,37,61,0) 73.89%),#0a0a0b;
  }

  &.bgData {
    background-image: url("src/assets/images/BackgroundReward.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.bgMinutes {
    background-image: url("src/assets/images/minutes.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}