.card {
  background-color: transparent;

  &-small {
    .card-body {
      background-color: $bg;
      color: $text-default;
      display: flex;
      justify-content: space-between;
      border-radius: 0 0 4px 4px;
    }
    
    .card-img {
      border-radius: 4px 4px 0 0;
    }

    .card-title {
      font-size: 14px;
      margin: 0;
      line-height: 18px;
    }
    
    .card-text {
      font-size: 12px;
      color: $gray-300;
    }
    
    .card-button {
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      .card-body {
        padding: 8px;
      }

      .card-title {
        font-size: 10px;
        margin: 0;
        line-height: 13px;
      }
      
      .card-text {
        font-size: 8px;
        color: $gray-300;
        line-height: 11px;
      }
      
      .card-button {
        font-size: 9px;
        line-height: 11px;
      }
    }
  }

  &-medium {
    .card-body {
      background-color: $bg;
      color: $text-default;
      display: flex;
      justify-content: space-between;
      padding: 35px 25px;
      border-radius: 0 0 8px 8px;

      
    }
    
    .card-img {
      border-radius: 8px 8px 0 0;
    }

    .card-title {
      font-size: 21px;
      margin: 0;
      line-height: 27px;
    }
    
    .card-text {
      font-size: 18px;
      color: $gray-300;
    }
    
    .card-button {
      font-size: 19px;
      line-height: 23px;
    }

    @include media-breakpoint-down(xs) {
      .card-body {
        padding: 16px;
      }

      .card-title {
        font-size: 14px;
        margin: 0;
        line-height: 17px;
      }
      
      .card-text {
        font-size: 12px;
        color: $gray-300;
        line-height: 14px;
      }
      
      .card-button {
        font-size: 13px;
        line-height: 15px;
      }
    }
  }
}

