$orange: #F95C2A;
$orange-hover: #FF8862;
$orange-disable: #FFC3AF;
$orange-bg: #FFEEE9;
$orange-gradient: linear-gradient(180deg, rgb(238, 75, 40) 0%, rgb(207, 50, 15) 100%);

$green: #20B255;
$green-gradient: linear-gradient(180deg, rgba(72, 194, 36, 1) 0%, rgba(36, 119, 11, 1) 100%);

$yellow: #FBFF1F;
$yellow-gradient: linear-gradient(180deg, rgba(251, 255, 31, 1) 18%, rgba(255, 133, 21, 1) 183%);

$bg: #001B32;
$header-bg: #000E1A;

$black: #141416;

$gray-500: #23262F;
$gray-400: #353945;
$gray-300: #777E90;
$gray-200: #B1B5C3;
$gray-100: #E6E8EC;

$white-200:#F4F5F6;
$white-100:#FCFCFD;

$text-default: #FFFFFF;

$primary: $orange;