$orange: #F95C2A;
$orange-hover: #FF8862;
$orange-disable: #FFC3AF;
$orange-bg: #FFEEE9;
$orange-gradient: linear-gradient(180deg, rgb(238, 75, 40) 0%, rgb(207, 50, 15) 100%);

$green: #20B255;
$green-lime: #38a018;
$green-gradient: linear-gradient(180deg, rgba(72, 194, 36, 1) 0%, rgba(36, 119, 11, 1) 100%);

$yellow: #FBFF1F;
$yellow-gradient: linear-gradient(180deg, rgba(251, 255, 31, 1) 18%, rgba(255, 133, 21, 1) 183%);

$sub-layout-bg: #051e33;
$bg: #001B32;
$table-bg: #001B33;
$header-bg: #000E1A;
$header-link: #787f91;
$box-shadow: #110c2240;
$room-bg: hsl(207, 100%, 10%);

$black: #141416;

$gray-500: #23262F;
$gray-400: #353945;
$gray-300: #777E90;
$gray-200: #B1B5C3;
$gray-100: #E6E8EC;

$white-200:#F4F5F6;
$white-100:#FCFCFD;

$text-default: #FFFFFF;

$primary: $orange;
$secondary: $green-lime;

$text-poppins: 'Poppins', sans-serif;

$url_circle_on: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org…r='3' fill='hsl%280, 100%, 100%%29'/%3e%3c/svg%3e");
$url_circle_off: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org… r='3' fill='hsl%28207, 4%, 51%%29'/%3e%3c/svg%3e");