.setting-container {
  width: calc(100vw - 2 * 15vw);

  @include media-breakpoint-down(xl) {
		width: calc(100vw - 2 * 10vw);
	}

	@include media-breakpoint-down(lg) {
		width: calc(100vw - 2 * 5vw);
	}

	@include media-breakpoint-down(md) {
		table{
			width: 100% !important;
		}
	}

  .setting-content{
		margin-top: 50px;
	}
 
	&.mobile {
		justify-content: flex-start;
		background: none;
		padding: 0;

		.tab-content {
			overflow: hidden;

			& > .active {
				flex-wrap: wrap;
				gap: 8px;
			}

			.package {
				min-width: auto;
				width: 48%;
				height: 214px;
				padding-block: 16px;

				h2 {
					font-size: 14px;
					line-height: 20px;
				}

				p {
					font-size: 7px;
					line-height: 12px;
				}

				button {
					height: 30px;
					font-size: 8px;
					line-height: 15px;
				}

				img {
					width: 75px;
					aspect-ratio: 1;
				}

				img.bestsale {
					top: -8px;
					width: 60px;
				}
			}
		}
	}
}